<app-navigation></app-navigation>
<div class="max-w-screen-xl m-auto sm:px-16 xl:mt-28 lg:mt-22 sm:mt-16">
  <div class="px-8 mb-16">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        Find our newest events here.
      </p>
    </div>
    <div class="m-auto block font-body text-lg">
      <p>
        We are aware of the current situation concerning COVID-19 which leads us
        to less and more restricted events. Unless you don't hear otherwise from
        us, our events will take place as planned and you need to buy tickets
        for most of them in advance. Keep yourself updated (e.g. on the
        <a
          href="https://www.rki.de/EN/Content/infections/epidemiology/outbreaks/COVID-19/COVID19.html"
          target="_blank"
          rel="noopener"
          class="text-esn-dark-blue hover:underline"
          >official RKI website</a
        >) and stay safe!
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
