.title-div {
  @apply m-auto mb-8 relative;
}

.title-p {
  @apply font-heading text-esn-dark-blue font-bold text-4xl title;
}

.outer-div {
  @apply max-w-screen-xl m-auto sm:px-16 xl:mt-28 lg:mt-22 sm:mt-16;
}
.title::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -12px;
  width: 73px;
  height: 5px;
  background: #2e3192;
}

.imgh {
  max-height: 12rem;
}

.flexb3 {
  flex-basis: 50%;
}

.textgray {
  color: var(--gray);
}
