<app-navigation></app-navigation>
<div class="max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4">
  <div class="px-8 mb-24">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        The ESNcard
      </p>
    </div>
    <div class="flex items-center flex-col lg:flex-row">
      <div class="w-4/5 lg:w-full">
        <p class="font-body text-lg">
          Through the ESNcard you are an official member of the Erasmus Student
          Network. You get many discounts in many cities and countries in
          Europe. There are many different (mostly financial) benefits for you
          from the local, national and international partners of ESN. The card
          is valid for 12 months from the date of signature and is only valid if
          you have pasted a photo of yourself in it and have given your real
          name. Please note that the card you have purchased is only valid for
          you and may only be used by you. As an overview:
        </p>
        <ul class="list-disc font-body text-lg ml-8">
          <li>international partners on esncard.org</li>
          <li>
            national partners on
            <a
              href="esn-germany.de/partners"
              rel="noopener"
              target="_blank"
              class="text-esn-dark-blue hover:underline"
              >esn-germany.de/partners</a
            >
          </li>
          <li>local partners in Freiburg</li>
        </ul>
        <p class="font-body text-lg">
          In addition to the official discounts, you can get a reduced entrance
          fee for some events and parties from ESN Freiburg e.V.!
        </p>
      </div>
      <div class="">
        <img
          class="m-auto"
          src="../../../assets/esncard.jpg"
          alt="ESNcard"
          title="ESNcard"
        />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
