.w {
  min-width: 400px;
  max-width: 400px;
}

.hx {
  height: 160px;
}

.imgh {
  max-height: 7rem;
}

.zoom {
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.08);
  }
}

.flexb3 {
  flex-basis: 33.33333%;
}
