<app-content-item [page]="page"></app-content-item>
<div
  class="max-w-screen-xl p-8 sm:p-0 m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4"
  *ngIf="globals$ | async as globals"
>
  <ng-container *ngIf="partnerInfo$ | async as partnerItemList; else loading">
    <ng-container *ngIf="partnerItemList.length > 0">
      <div class="title-div">
        <p class="title-p">Our Local Partners in {{ cityName }}</p>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <img width="200px" class="m-auto" src="assets/social/ESN-star-spinner.gif"
  /></ng-template>
</div>
<div class="max-w-screen-2xl m-auto mb-24">
  <ng-container *ngIf="partnerInfo$ | async as partnerItemList">
    <div
      class="mx-8 flex flex-wrap items-end justify-evenly font-body text-lg border border-graylight shadow-xl p-8"
      *ngIf="partnerItemList.length > 0"
    >
      <div
        *ngFor="let partner of partnerItemList"
        class="flex flex-wrap items-end justify-evenly flexb3"
      >
        <figure class="m-2">
          <a
            *ngIf="partner.Main_image.formats.medium"
            href="{{ partner.Link }}"
            target="_blank"
            rel="noopener"
            class=""
            ><img
              class="imgh m-auto zoom"
              src="{{ strapiLink }}{{ partner.Main_image.formats.medium.url }}"
              alt="{{ partner.Main_image.alternativeText }}"
          /></a>
          <a
            *ngIf="
              partner.Main_image.formats.thumbnail &&
              !partner.Main_image.formats.medium
            "
            href="{{ partner.Link }}"
            target="_blank"
            rel="noopener"
            class=""
            ><img
              class="imgh m-auto zoom"
              src="{{ strapiLink }}{{
                partner.Main_image.formats.thumbnail.url
              }}"
              alt="{{ partner.Main_image.alternativeText }}"
          /></a>
          <a
            *ngIf="
              partner.Main_image.url && !partner.Main_image.formats.thumbnail
            "
            href="{{ partner.Link }}"
            target="_blank"
            rel="noopener"
          >
            <img
              class="imgh m-auto zoom"
              src="{{ strapiLink }}{{ partner.Main_image.url }}"
              alt="{{ partner.Main_image.alternativeText }}"
            />
          </a>
          <figcaption class="pt-4 text-center font-bold">
            {{ partner.Name }}
            <br />
            <button
              *ngIf="partner.Deal"
              (click)="toggleInfo(partner)"
              class="text-esn-dark-blue hover:underline"
            >
              {{ partner.buttonText }}
            </button>
            <br />
            <markdown
              [hidden]="!partner.show"
              [data]="partner.Deal"
              style="text-align: left"
            >
            </markdown>
          </figcaption>
        </figure>
      </div>
    </div>
  </ng-container>
</div>
<div
  class="max-w-screen-xl p-8 sm:p-0 m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4"
>
  <ng-container *ngIf="nationalPartner$ | async as partners">
    <ng-container *ngIf="partners.length > 0">
      <div class="title-div">
        <p class="title-p">Our National Partners from ESN Germany</p>
      </div>
    </ng-container>
  </ng-container>
</div>
<div class="max-w-screen-2xl m-auto mb-24">
  <app-national-partners></app-national-partners>
</div>
