<div *ngIf="contentInfo$ | async as contentItemList" class="outer-imgbox">
  <div *ngFor="let c of contentItemList" class="px-4 mb-20">
    <!-- text left img right -->
    <div *ngIf="c.Layout === 'Text_left_img_right'">
      <div class="title-div">
        <p class="title-p">{{ c.Title }}</p>
      </div>
      <div
        [ngClass]="{
          'font-body text-lg border border-graylight shadow-xl p-8':
            c.Wrap_in_shadow_box
        }"
      >
        <div *ngIf="c.Image" class="m-auto">
          <figure class="float-right-fig">
            <img
              *ngIf="c.Image.formats?.medium"
              src="{{ strapiLink }}{{ c.Image.formats.medium.url }}"
              alt="{{ c.Image.alternativeText }}"
            />
            <img
              *ngIf="!c.Image.formats?.medium"
              src="{{ strapiLink }}{{ c.Image.url }}"
              alt="{{ c.Image.alternativeText }}"
            />
          </figure>
          <div *ngIf="c.Text"><markdown [data]="c.Text"></markdown></div>
        </div>
        <div *ngIf="!c.Image" class="m-auto font-body text-lg">
          <markdown [data]="c.Text"></markdown>
        </div>
      </div>
    </div>
    <!-- text right img left -->
    <div *ngIf="c.Layout === 'Text_right_img_left'" class="mb-2">
      <div class="title-div">
        <p class="title-p">{{ c.Title }}</p>
      </div>
      <div
        [ngClass]="{
          'font-body text-lg border border-graylight shadow-xl p-8':
            c.Wrap_in_shadow_box
        }"
      >
        <div *ngIf="c.Image" class="m-auto mb-4 overflow-hidden">
          <figure class="float-left-fig">
            <img
              *ngIf="c.Image.formats?.medium"
              src="{{ strapiLink }}{{ c.Image.formats.medium.url }}"
              alt="{{ c.Image.alternativeText }}"
            />
            <img
              *ngIf="!c.Image.formats?.medium"
              src="{{ strapiLink }}{{ c.Image.url }}"
              alt="{{ c.Image.alternativeText }}"
            />
          </figure>
          <div *ngIf="c.Text"><markdown [data]="c.Text"></markdown></div>
        </div>
        <div *ngIf="!c.Image" class="m-auto font-body text-lg">
          <markdown [data]="c.Text"></markdown>
        </div>
      </div>
    </div>
    <!-- text below img above -->
    <div *ngIf="c.Layout === 'Text_below_img_above'">
      <div class="title-div">
        <p class="title-p">{{ c.Title }}</p>
      </div>
      <div
        [ngClass]="{
          'font-body text-lg border border-graylight shadow-xl p-8':
            c.Wrap_in_shadow_box
        }"
        class="flex items-center flex-col"
      >
        <div *ngIf="c.Image" class="px-4">
          <img
            *ngIf="c.Image.formats?.medium"
            class="m-auto py-4"
            src="{{ strapiLink }}{{ c.Image.formats.medium.url }}"
            alt="{{ c.Image.alternativeText }}"
          />
          <img
            *ngIf="!c.Image.formats?.medium"
            class="m-auto py-4"
            src="{{ strapiLink }}{{ c.Image.url }}"
            alt="{{ c.Image.alternativeText }}"
          />
        </div>
        <div *ngIf="c.Text"><markdown [data]="c.Text"></markdown></div>
      </div>
    </div>
    <!-- text above img below -->
    <div *ngIf="c.Layout === 'Text_above_img_below'">
      <div class="title-div">
        <p class="title-p">{{ c.Title }}</p>
      </div>
      <div
        [ngClass]="{
          'font-body text-lg border border-graylight shadow-xl p-8':
            c.Wrap_in_shadow_box
        }"
        class="flex items-center flex-col"
      >
        <div *ngIf="c.Text"><markdown [data]="c.Text"></markdown></div>
        <div *ngIf="c.Image" class="px-4">
          <img
            *ngIf="c.Image.formats?.medium"
            class="m-auto py-4 w-3/5"
            src="{{ strapiLink }}{{ c.Image.formats.medium.url }}"
            alt="{{ c.Image.alternativeText }}"
          />
          <img
            *ngIf="!c.Image.formats?.medium"
            class="m-auto py-4 w-3/5"
            src="{{ strapiLink }}{{ c.Image.url }}"
            alt="{{ c.Image.alternativeText }}"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="max-w-screen-xl p-8 sm:p-0 m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4"
  *ngIf="globals$ | async as globals"
>
  <div *ngIf="partnerInfo$ | async as partnerItemList">
    <div *ngIf="partnerItemList.length > 0">
      <div class="title-div">
        <p class="title-p">Our Local Partners in {{ cityName }}</p>
      </div>
    </div>
  </div>
</div>
<div class="max-w-screen-2xl m-auto mb-24">
  <div *ngIf="partnerInfo$ | async as partnerItemList">
    <div
      class="mx-8 flex flex-wrap items-end justify-evenly font-body text-lg border border-graylight shadow-xl p-8"
      *ngIf="partnerItemList.length > 0"
    >
      <div
        *ngFor="let partner of partnerItemList"
        class="flex flex-wrap items-end justify-evenly flexb3"
      >
        <figure class="m-2">
          <a href="{{ partner.Link }}" target="_blank" rel="noopener" class=""
            ><img
              *ngIf="partner.Main_image.formats.medium"
              class="imgh m-auto zoom"
              src="{{ strapiLink }}{{ partner.Main_image.formats.medium.url }}"
              alt="{{ partner.Main_image.alternativeText }}"
          /></a>
          <a href="{{ partner.Link }}" target="_blank" rel="noopener" class=""
            ><img
              *ngIf="
                partner.Main_image.formats.thumbnail &&
                !partner.Main_image.formats.medium
              "
              class="imgh m-auto zoom"
              src="{{ strapiLink }}{{
                partner.Main_image.formats.thumbnail.url
              }}"
              alt="{{ partner.Main_image.alternativeText }}"
          /></a>
          <figcaption class="pt-4 text-center">
            <b>{{ partner.Name }}</b
            ><br />
            {{ partner.Deal }}
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
<div
  class="max-w-screen-xl p-8 sm:p-0 m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4"
>
  <div *ngIf="nationalPartner$ | async as naPa">
    <div *ngIf="naPa.length > 0">
      <div class="title-div">
        <p class="title-p">Our National Partners from ESN Germany</p>
      </div>
    </div>
  </div>
</div>
<div class="max-w-screen-2xl m-auto mb-24">
  <div *ngIf="nationalPartner$ | async as naPa">
    <div
      class="mx-8 flex flex-wrap items-end justify-evenly font-body text-lg border border-graylight shadow-xl p-8"
      *ngIf="naPa.length > 0"
    >
      <div
        *ngFor="let partner of naPa"
        class="flex flex-wrap items-end justify-evenly flexb3"
      >
        <figure class="m-2">
          <a href="{{ partner.Link }}" target="_blank" rel="noopener" class=""
            ><img
              *ngIf="partner.Logo.formats.medium"
              class="imgh m-auto zoom"
              src="https://strapi.esn-germany.de{{
                partner.Logo.formats.medium.url
              }}"
              alt="{{ partner.Logo.alternativeText }}"
          /></a>
          <a href="{{ partner.Link }}" target="_blank" rel="noopener" class=""
            ><img
              *ngIf="
                partner.Logo.formats.thumbnail && !partner.Logo.formats.medium
              "
              class="imgh m-auto zoom"
              src="https://strapi.esn-germany.de{{
                partner.Logo.formats.thumbnail.url
              }}"
              alt="{{ partner.Logo.alternativeText }}"
          /></a>
          <figcaption class="pt-4 text-center">
            <b>{{ partner.Name }}</b>
            <!-- ><br /> -->
            <!-- {{ partner.Deal }} -->
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
