.w {
  min-width: 400px;
  max-width: 400px;
}

.hx {
  height: 160px;
}

.imgh {
  max-height: 7rem;
}

.zoom {
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.08);
  }
}

.flexb3 {
  flex-basis: 33.33333%;
}

.flexb2 {
  flex-basis: 50%;
}

@media only screen and (max-width: 868px) {
  .flexb2,
  .flexb3 {
    flex-basis: 100%;
  }
}
