.divider-top {
  position: absolute;
  top: -48px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 48px;
}

.divider-top .shape-fill {
  fill: #3a3a3a;
}

.icon {
  vertical-align: -3px;
}

.hov {
  transition: transform 0.2s;
}

.hov:hover {
  transform: scale(1.13);
}
