<footer id="foot" class="bg-footer relative">
  <div id="foot2" class="divider-top">
    <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        id="foot3"
        d="M1200 0L0 0 892.25 114.72 1200 0z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
  <div
    class="font-body text-white flex flex-wrap max-w-screen-xl m-auto sm:px-16 pt-8"
  >
    <div class="sm:w-full lg:w-1/2 xl:w-1/4 px-8">
      <p class="font-bold uppercase pb-1 text-lg">Contact</p>
      <p class="font-bold">Erasmus Student Network Freiburg e.V.</p>
      <p class="pt-2">c/o EU-Büro</p>
      <p>Sedanstraße 6</p>
      <p>79098 Freiburg</p>
      <p class="pt-1 pb-4">
        <a
          href="mailto:freiburg@esn-germany.de"
          rel="noopener"
          class="hover:underline"
          >freiburg@esn-germany.de</a
        >
      </p>
    </div>
    <div class="sm:w-full lg:w-1/2 xl:w-1/4 px-8">
      <p class="font-bold uppercase pb-1 text-lg">Links</p>
      <p>
        <a
          routerLink="/imprint"
          routerLinkActive="active"
          class="hover:underline"
          >Imprint</a
        >
      </p>
      <p>
        <a routerLink="/coc" routerLinkActive="active" class="hover:underline"
          >Code of Conduct</a
        >
      </p>
      <p>
        <a
          routerLink="/statutes"
          routerLinkActive="active"
          class="hover:underline"
          >Statutes</a
        >
      </p>
      <p>
        <a
          routerLink="/for-incomings"
          routerLinkActive="active"
          class="hover:underline"
          >F. A. Q.</a
        >
      </p>
    </div>
    <div class="sm:w-full lg:w-1/2 xl:w-1/4 px-8">
      <p class="font-bold uppercase pb-1 text-lg">External Links</p>
      <p>
        <a
          href="https://esncard.org/"
          target="_blank"
          rel="noopener"
          class="hover:underline"
          >ESNcard.org</a
        >
      </p>
      <p>
        <a
          href="https://erasmusintern.org/"
          target="_blank"
          rel="noopener"
          class="hover:underline"
          >ErasmusIntern.org</a
        >
      </p>
      <p class="pb-4">
        <a
          href="https://esn.org/"
          target="_blank"
          rel="noopener"
          class="hover:underline"
          >ESN International</a
        >
      </p>
    </div>
    <div class="sm:w-full lg:w-1/2 xl:w-1/4 px-8">
      <p class="font-bold uppercase pb-1 text-lg">Social Media</p>
      <p class="pb-1">
        <a
          href="https://facebook.com/esnfreiburg/"
          target="_blank"
          rel="noopener"
          class="hover:underline"
        >
          <img
            alt="Facebook"
            src="../../../assets/social/facebook.png"
            class="h-6 float-left pr-2"
          />esnfreiburg
        </a>
      </p>
      <p>
        <a
          href="https://www.instagram.com/esn_freiburg/"
          target="_blank"
          rel="noopener"
          class="hover:underline"
          ><img
            alt="Instagram"
            src="../../../assets/social/instagram.png"
            class="h-6 float-left pr-2"
          />
          esn_freiburg
        </a>
      </p>
    </div>
    <div class="w-full text-center my-4">
      <p>
        <img
          src="../assets/logo/ESN-star-RGB.png"
          alt="ESN star"
          class="w-6 inline-block mx-auto"
        />
        created by the
        <span (mouseenter)="pink()">IT-Girl</span> of
        <!-- <span (mouseenter)="pink()" (mouseleave)="unpink()">IT-Girl</span> of -->
        ESN Freiburg e.V.
      </p>
    </div>
  </div>
</footer>
