.title-div {
  @apply m-auto mb-8 relative;
}

.title-p {
  @extend .title !optional;
  @apply font-heading text-esn-dark-blue font-medium text-4xl;
}

.float-right-fig {
  @apply pl-0 lg:pl-8 pb-2 pr-0 pt-0 top-0 lg:float-right w-4/5 lg:w-2/5 m-auto;
}

.float-left-fig {
  @apply pr-0 lg:pr-8 pb-2 pl-0 pt-0 top-0 lg:float-left w-4/5 lg:w-2/5 m-auto;
}

.outer-imgbox {
  @apply max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4;
}
