<esn-article
  [title]="'The Online Learning Agreement in a Nutshell'"
  [grayBox]="true"
>
  <figure class="pl-0 lg:pl-8 pb-2 pr-0 pt-0 top-0 lg:float-right w-2/5 m-auto">
    <!-- Image URL does not longer work
    <img
      src="https://strapi.esn-germany.de/uploads/Thumbnails_video_tutorials_OLA_squared_9fa38070e1.png"
      alt="online learning agreement"
    />
    -->
  </figure>
  <p>
    The Erasmus+ programme foresees a gradual shift towards fully digital
    mobility management and the new
    <a
      href="https://esn-germany.de/news#the-online-learning-agreement-in-a-nutshell"
      rel="noopener"
      target="_blank"
      class="text-esn-dark-blue hover:underline"
      >Online Learning Agreement (OLA)</a
    >
    will play a
    <strong
      >crucial role in streamlining the Erasmus+ administrative
      workflows</strong
    >, particularly from 2021 onwards.
  </p>
  <br />
  OLA will contribute to a major innovation in the European Higher Education
  Area (and beyond) by evolving the way Higher Education Institutions (HEIs)
  like universities handle mobility flows and paving the way towards harmonious
  and streamlined mobility management for students and HEIs.
</esn-article>
