<div class="outer">
  <div *ngIf="imprintSection; else esnGerImprint">
    <div class="markdown-div">
      <div class="title-div">
        <p class="title-p">{{ imprintSection.title }}</p>
      </div>
      <markdown
        data-testid="esn-section-legal"
        [data]="imprintSection.text"
      ></markdown>
    </div>
  </div>
  <ng-template #esnGerImprint>
    <ng-container *ngIf="imprintESNGermany; else loading">
      <div class="markdown-div">
        <div class="title-div">
          <p class="title-p">Legal Notice ESN Germany e.V.</p>
        </div>
        <markdown [data]="imprintESNGermany.Content"></markdown>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #loading>
    <img
      width="200px"
      class="m-auto"
      src="assets/social/ESN-star-spinner.gif"
      alt="loading"
  /></ng-template>
</div>
