<div
  *ngIf="imprintItemList$ | async as imprintItemList; else esnGerImprint"
  class="outer"
>
  <div class="markdown-div">
    <div class="title-div">
      <p class="title-p">{{ imprintItemList.Title }}</p>
    </div>
    <markdown data-testid="esn-section-imprint" [data]="imprintItemList.Text"></markdown>
  </div>
</div>
<ng-template #esnGerImprint>
  <ng-container
    *ngIf="imprintEsnGer$ | async as imprintEsnGerItem; else loading"
  >
    <div class="outer">
      <div class="markdown-div">
        <div class="title-div">
          <p class="title-p">Imprint (ESN Germany e.V.)</p>
        </div>
        <markdown [data]="imprintEsnGerItem.Content"></markdown>
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template #loading>
  <img width="200px" class="m-auto" src="assets/social/ESN-star-spinner.gif"
/></ng-template>
