.outer {
  @apply max-w-screen-xl m-auto mb-16 sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4;
}

.markdown-div {
  @apply m-auto block mb-24 px-16 font-body;
}

.title::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -12px;
  width: 73px;
  height: 5px;
  background: #2e3192;
}
