<ng-container *ngIf="contentInfo$ | async as contentItemList">
  <div class="outer-div-landing">
    <div class="px-8 mb-16">
      <div class="title-div4">
        <ng-container *ngIf="mainInfo">
          <p id="titeli" data-testid="esn-title" class="title-p-welcome">
            {{ mainInfo.welcome_message_front_page }}
          </p>
        </ng-container>
      </div>
    </div>
  </div>
  <ng-container *ngIf="mainInfo">
    <ng-container *ngIf="mainInfo?.use_image_slideshow; else imageGrid">
      <div class="bg-graylight my-1 py-1 xl:my-4 xl:py-4">
        <div class="w-4/5 xl:w-3/5 mx-auto">
          <gallery
            [items]="images"
            [counter]="false"
            [thumb]="showThumb"
            [thumbMode]="'free'"
            [thumbPosition]="'right'"
            [autoPlay]="true"
            [playerInterval]="6000"
          ></gallery>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #imageGrid>
    <div
      class="grid grid-cols-4 auto-rows-images gap-0.5 mb-24"
      *ngIf="mainInfo"
    >
      <div class="col-span-3">
        <img
          *ngIf="gridImageSize[0] === 'small'"
          src="{{ directusImageLink }}{{
            mainInfo.imagegrid_frontpage[0].directus_files_id.id
          }}/grid_0?width=400"
          class="object-cover h-full w-full"
        />
        <img
          *ngIf="gridImageSize[0] === 'medium'"
          src="{{ directusImageLink }}{{
            mainInfo.imagegrid_frontpage[0].directus_files_id.id
          }}/grid_0?width=600"
          class="object-cover h-full w-full"
        />
        <img
          *ngIf="gridImageSize[0] === 'large'"
          src="{{ directusImageLink }}{{
            mainInfo.imagegrid_frontpage[0].directus_files_id.id
          }}/grid_0?width=800"
          class="object-cover h-full w-full"
        />
      </div>
      <div class="row-span-2">
        <img
          *ngIf="gridImageSize[1] === 'small'"
          src="{{ directusImageLink }}{{
            mainInfo.imagegrid_frontpage[1]?.directus_files_id.id
          }}/grid_1?width=400"
          class="object-cover h-full w-full"
        />
        <img
          *ngIf="gridImageSize[1] === 'medium'"
          src="{{ directusImageLink }}{{
            mainInfo.imagegrid_frontpage[1]?.directus_files_id.id
          }}/grid_1?width=600"
          class="object-cover h-full w-full"
        />
        <img
          *ngIf="gridImageSize[1] === 'large'"
          src="{{ directusImageLink }}{{
            mainInfo.imagegrid_frontpage[1]?.directus_files_id.id
          }}/grid_1?width=800"
          class="object-cover h-full w-full"
        />
      </div>
      <div (click)="comic()">
        <img
          *ngIf="gridImageSize[2] === 'small'"
          src="{{ directusImageLink }}{{
            mainInfo.imagegrid_frontpage[2]?.directus_files_id.id
          }}/grid_2?width=400"
          class="object-cover h-full w-full"
        />
        <img
          *ngIf="gridImageSize[2] === 'medium'"
          src="{{ directusImageLink }}{{
            mainInfo.imagegrid_frontpage[2]?.directus_files_id.id
          }}/grid_2?width=600"
          class="object-cover h-full w-full"
        />
        <img
          *ngIf="gridImageSize[2] === 'large'"
          src="{{ directusImageLink }}{{
            mainInfo.imagegrid_frontpage[2]?.directus_files_id.id
          }}/grid_2?width=800"
          class="object-cover h-full w-full"
        />
      </div>
      <div class="col-span-2">
        <img
          *ngIf="gridImageSize[3] === 'small'"
          src="{{ directusImageLink }}{{
            mainInfo.imagegrid_frontpage[3]?.directus_files_id.id
          }}/grid_3?width=400"
          class="object-cover h-full w-full"
        />
        <img
          *ngIf="gridImageSize[3] === 'medium'"
          src="{{ directusImageLink }}{{
            mainInfo.imagegrid_frontpage[3]?.directus_files_id.id
          }}/grid_3?width=600"
          class="object-cover h-full w-full"
        />
        <img
          *ngIf="gridImageSize[3] === 'large'"
          src="{{ directusImageLink }}{{
            mainInfo.imagegrid_frontpage[3]?.directus_files_id.id
          }}/grid_3?width=800"
          class="object-cover h-full w-full"
        />
      </div>
    </div>
  </ng-template>
</ng-container>
<esn-content-item [page]="page"></esn-content-item>
