<app-navigation></app-navigation>
<div class="max-w-screen-xl m-auto sm:px-16 xl:mt-28 lg:mt-22 sm:mt-16">
  <div class="px-8 mb-16">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        We are ESN Freiburg.
      </p>
    </div>
  </div>
</div>
<div class="grid grid-cols-4 auto-rows-images gap-0.5 mb-24">
  <div class="col-span-3">
    <img
      src="../../../assets/landing/landing1.jpg"
      class="object-cover h-full w-full"
    />
  </div>
  <div class="row-span-2">
    <img
      src="../../../assets/landing/landing2.jpg"
      class="object-cover h-full w-full"
    />
  </div>
  <div>
    <img
      src="../../../assets/landing/landing3.jpg"
      class="object-cover h-full w-full"
    />
  </div>
  <div class="col-span-2">
    <img
      src="../../../assets/landing/landing4.png"
      class="object-cover h-full w-full"
    />
  </div>
</div>
<app-footer></app-footer>
