<app-navigation></app-navigation>
<div *ngIf="contentLoaded | async">
  <div class="outer-div">
    <div class="px-8 mb-16">
      <div class="title-div4">
        <p id="titeli" class="title-p">
          {{ globals.welcomeMessageFrontPage }}
        </p>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-4 auto-rows-images gap-0.5 mb-24">
    <div class="col-span-3">
      <img
        src="../../../assets/landing/landing55.png"
        class="object-cover h-full w-full"
      />
    </div>
    <div class="row-span-2">
      <img
        src="../../../assets/landing/landing2.png"
        class="object-cover h-full w-full"
      />
    </div>
    <div (click)="comic()">
      <img
        src="../../../assets/landing/landing3.png"
        class="object-cover h-full w-full"
      />
    </div>
    <div class="col-span-2">
      <img
        src="../../../assets/landing/landing1.png"
        class="object-cover h-full w-full"
      />
    </div>
  </div>
  <div class="outer-imgbox">
    <div *ngFor="let c of contentItemList" class="px-8 mb-24">
      <!-- text left img right -->
      <div *ngIf="c.Layout === 'Text_left_img_right'">
        <div class="title-div">
          <p class="title-p">{{ c.Title }}</p>
        </div>
        <div
          [ngClass]="{
            'font-body text-lg border border-graylight shadow-xl p-8':
              c.Wrap_in_shadow_box
          }"
        >
          <div *ngIf="c.Image" class="m-auto">
            <figure class="float-right-fig">
              <img
                src="{{ strapiLink }}{{ c.Image.formats.medium.url }}"
                alt="{{ c.Image.alternativeText }}"
              />
            </figure>
            <div *ngIf="c.Text"><markdown [data]="c.Text"></markdown></div>
          </div>
          <div *ngIf="!c.Image" class="m-auto font-body text-lg">
            <markdown [data]="c.Text"></markdown>
          </div>
        </div>
      </div>
      <!-- text right img left -->
      <div *ngIf="c.Layout === 'Text_right_img_left'">
        <div class="title-div">
          <p class="title-p">{{ c.Title }}</p>
        </div>
        <div
          [ngClass]="{
            'font-body text-lg border border-graylight shadow-xl p-8':
              c.Wrap_in_shadow_box
          }"
        >
          <div *ngIf="c.Image" class="m-auto">
            <figure class="float-left-fig">
              <img
                src="{{ strapiLink }}{{ c.Image.formats.medium.url }}"
                alt="{{ c.Image.alternativeText }}"
              />
            </figure>
            <div *ngIf="c.Text"><markdown [data]="c.Text"></markdown></div>
          </div>
          <div *ngIf="!c.Image" class="m-auto font-body text-lg">
            <markdown [data]="c.Text"></markdown>
          </div>
        </div>
      </div>
      <!-- text below img above -->
      <div *ngIf="c.Layout === 'Text_below_img_above'">
        <div class="title-div">
          <p class="title-p">{{ c.Title }}</p>
        </div>
        <div
          [ngClass]="{
            'font-body text-lg border border-graylight shadow-xl p-8':
              c.Wrap_in_shadow_box
          }"
          class="flex items-center flex-col"
        >
          <div *ngIf="c.Image" class="px-4">
            <img
              class="m-auto py-4"
              src="{{ strapiLink }}{{ c.Image.formats.medium.url }}"
              alt="{{ c.Image.alternativeText }}"
            />
          </div>
          <div *ngIf="c.Text"><markdown [data]="c.Text"></markdown></div>
        </div>
      </div>
      <!-- text above img below -->
      <div *ngIf="c.Layout === 'Text_above_img_below'">
        <div class="title-div">
          <p class="title-p">{{ c.Title }}</p>
        </div>
        <div
          [ngClass]="{
            'font-body text-lg border border-graylight shadow-xl p-8':
              c.Wrap_in_shadow_box
          }"
          class="flex items-center flex-col"
        >
          <div *ngIf="c.Text"><markdown [data]="c.Text"></markdown></div>
          <div *ngIf="c.Image" class="px-4">
            <img
              class="m-auto py-4 w-3/5"
              src="{{ strapiLink }}{{ c.Image.formats.medium.url }}"
              alt="{{ c.Image.alternativeText }}"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
