.title-div4 {
  @apply m-auto mb-4 relative;
}

.title-div {
  @apply m-auto mb-8 relative;
}

.title-p {
  @extend .title;
  @apply font-heading text-esn-dark-blue font-bold text-4xl;
}
.title-p-welcome {
  @apply font-heading text-esn-dark-blue font-bold text-5xl;
}

.float-right-fig {
  @apply pl-0 lg:pl-8 pb-2 pr-0 pt-0 top-0 lg:float-right w-4/5 lg:w-2/5 m-auto;
}

.float-left-fig {
  @apply pr-0 lg:pr-8 pb-2 pl-0 pt-0 lg:float-left w-4/5 lg:w-2/5 m-auto;
}

.outer-imgbox {
  @apply max-w-screen-xl m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4;
}

.outer-div {
  @apply max-w-screen-xl m-auto sm:px-16 xl:mt-6 lg:mt-6 sm:mt-6;
}

.title::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -12px;
  width: 73px;
  height: 5px;
  background: #2e3192;
}

gallery {
  background-color: rgba(234, 234, 234, var(--tw-bg-opacity)) !important;
}
