<div
  *ngIf="contentInfo$ | async as contentItemList; else loading"
  class="outer-imgbox"
>
  <div *ngFor="let c of contentItemList" class="px-4 mb-20">
    <!-- text left img right -->
    <ng-container *ngIf="c.Layout === 'Text_left_img_right'">
      <ng-container *ngIf="c.Title.trim().length > 0">
        <div class="title-div">
          <p class="title-p">{{ c.Title }}</p>
        </div>
      </ng-container>
      <div
        [ngClass]="{
          'font-body text-lg border border-graylight shadow-xl p-8':
            c.Wrap_in_shadow_box
        }"
        class="overflow-auto"
      >
        <div *ngIf="c.Image" class="m-auto">
          <figure class="float-right-fig">
            <img
              *ngIf="c.Image.width > 750 || c.Image.height > 750"
              src="{{ directusImageLink }}{{ c.Image.id }}/{{
                c.Title.replaceAll(' ', '_')
              }}_image?width=700"
              alt="{{ c.Image.description }}"
            />
            <img
              *ngIf="c.Image.width <= 750"
              src="{{ directusImageLink }}{{ c.Image.id }}/{{
                c.Title.replaceAll(' ', '_')
              }}_image?width=400"
              alt="{{ c.Image.description }}"
            />
          </figure>
          <ng-container *ngIf="c.Text"
            ><markdown [data]="c.Text"></markdown
          ></ng-container>
        </div>
        <div *ngIf="!c.Image" class="m-auto font-body text-lg">
          <markdown [data]="c.Text"></markdown>
        </div>
      </div>
    </ng-container>
    <!-- text right img left -->
    <div *ngIf="c.Layout === 'Text_right_img_left'" class="mb-2">
      <ng-container *ngIf="c.Title.trim().length > 0">
        <div class="title-div">
          <p class="title-p">{{ c.Title }}</p>
        </div>
      </ng-container>
      <div
        [ngClass]="{
          'font-body text-lg border border-graylight shadow-xl p-8':
            c.Wrap_in_shadow_box
        }"
        class="overflow-auto"
      >
        <div *ngIf="c.Image" class="m-auto mb-4">
          <figure class="float-left-fig">
            <img
              *ngIf="c.Image.width > 750 || c.Image.height > 750"
              src="{{ directusImageLink }}{{ c.Image.id }}/{{
                c.Title.replaceAll(' ', '_')
              }}_image?width=700"
              alt="{{ c.Image.description }}"
            />
            <img
              *ngIf="c.Image.width <= 750"
              src="{{ directusImageLink }}{{ c.Image.id }}/{{
                c.Title.replaceAll(' ', '_')
              }}_image?width=400"
              alt="{{ c.Image.description }}"
            />
          </figure>
          <ng-container *ngIf="c.Text"
            ><markdown [data]="c.Text"></markdown
          ></ng-container>
        </div>
        <div *ngIf="!c.Image" class="m-auto font-body text-lg">
          <markdown [data]="c.Text"></markdown>
        </div>
      </div>
    </div>
    <!-- text below img above -->
    <ng-container *ngIf="c.Layout === 'Text_below_img_above'">
      <ng-container *ngIf="c.Title.trim().length > 0">
        <div class="title-div">
          <p class="title-p">{{ c.Title }}</p>
        </div>
      </ng-container>
      <div
        [ngClass]="{
          'font-body text-lg border border-graylight shadow-xl p-8':
            c.Wrap_in_shadow_box
        }"
        class="flex flex-col"
      >
        <div *ngIf="c.Image" class="px-4">
          <img
            *ngIf="c.Image.width > 750 || c.Image.height > 750"
            class="m-auto py-4"
            src="{{ directusImageLink }}{{ c.Image.id }}/{{
              c.Title.replaceAll(' ', '_')
            }}_image?width=700"
            alt="{{ c.Image.description }}"
          />
          <img
            *ngIf="c.Image.width <= 750"
            class="m-auto py-4"
            src="{{ directusImageLink }}{{ c.Image.id }}/{{
              c.Title.replaceAll(' ', '_')
            }}_image?width=400"
            alt="{{ c.Image.description }}"
          />
        </div>
        <ng-container *ngIf="c.Text"
          ><markdown [data]="c.Text"></markdown
        ></ng-container>
      </div>
    </ng-container>
    <!-- text above img below -->
    <ng-container *ngIf="c.Layout === 'Text_above_img_below'">
      <ng-container *ngIf="c.Title.trim().length > 0">
        <div class="title-div">
          <p class="title-p">{{ c.Title }}</p>
        </div>
      </ng-container>
      <div
        [ngClass]="{
          'font-body text-lg border border-graylight shadow-xl p-8':
            c.Wrap_in_shadow_box
        }"
        class="flex flex-col"
      >
        <ng-container *ngIf="c.Text"
          ><markdown [data]="c.Text"></markdown
        ></ng-container>
        <div *ngIf="c.Image" class="px-4">
          <img
            *ngIf="c.Image.width > 750 || c.Image.height > 750"
            class="m-auto py-4 w-3/5"
            src="{{ directusImageLink }}{{ c.Image.id }}/{{
              c.Title.replaceAll(' ', '_')
            }}_image?width=700"
            alt="{{ c.Image.description }}"
          />
          <img
            *ngIf="c.Image.width <= 750"
            class="m-auto py-4 w-3/5"
            src="{{ directusImageLink }}{{ c.Image.id }}/{{
              c.Title.replaceAll(' ', '_')
            }}_image?width=400"
            alt="{{ c.Image.description }}"
          />
        </div>
      </div>
    </ng-container>
  </div>
</div>
<ng-template #loading>
  <img
    width="200px"
    class="m-auto mb-26"
    src="assets/social/ESN-star-spinner.gif"
/></ng-template>
