<ng-container *ngIf="nationalPartners">
  <div *ngIf="!nationalPartners" class="bg-white w-screen h-screen"></div>
  <div
    class="mx-4 flex flex-wrap justify-evenly font-body text-lg border border-graylight shadow-xl p-8 items-baseline"
  >
    <ng-container *ngFor="let partner of nationalPartners; let i = index">
      <figure class="my-4 px-8 maxw" data-testid="esn-national-partner">
        <a
          href="{{ partner.link }}"
          title="{{ partner.name }}"
          target="_blank"
          rel="noopener"
        >
          <img
            class="imgh m-auto zoom"
            src="{{ directusImageLink }}{{
              partner.logo.id
            }}?width=300&format=auto"
            alt="{{ partner.name }}"
          />
        </a>
        <figcaption class="pt-4 text-center font-bold">
          {{ partner.name }}
          <br />
          <button
            *ngIf="partner.description"
            (click)="toggleInfo(partner)"
            class="text-neutral-500 bg-white hover:bg-neutral-500 hover:text-white text-base border-stone-300 border rounded-xl px-2"
          >
            {{ partner.buttonText }}
          </button>
          <br />
          <markdown
            [hidden]="!partner.show"
            [data]="partner.description"
            style="text-align: left"
          >
          </markdown>
        </figcaption>
      </figure>
    </ng-container>
  </div>
</ng-container>
