<esn-content-item [page]="page"></esn-content-item>
<ng-container
  *ngIf="
    faqsHousing?.length > 0 ||
    faqsTransport?.length > 0 ||
    faqsCorona?.length > 0 ||
    faqsUniErasmus?.length > 0 ||
    faqsOther?.length > 0 ||
    faqsESNcard?.length > 0
  "
>
  <div class="outer-div-incoming fade-in-element">
    <div class="px-4 mb-24">
      <div class="title-div">
        <p class="title-p">Frequently Asked Questions</p>
      </div>
      <ng-container *ngIf="faqsHousing; else loading">
        <div
          *ngIf="faqsHousing.length > 0"
          class="font-body text-xl font-bold pb-2"
        >
          Housing
        </div>
        <div class="exp-shadow mb-6">
          <esn-expandable class="exp" *ngFor="let faq of faqsHousing">
            <p slot="header" class="font-body text-md">{{ faq.question }}</p>
            <div class="answer-div">
              <div class="answer-col">
                <markdown [data]="faq.answer"></markdown>
              </div>
            </div>
          </esn-expandable>
        </div>
      </ng-container>
      <ng-template #loading>
        <img
          width="200px"
          class="m-auto"
          src="assets/social/ESN-star-spinner.gif"
          alt="loading"
      /></ng-template>
      <ng-container *ngIf="faqsTransport">
        <div
          *ngIf="faqsTransport.length > 0"
          class="font-body text-xl font-bold pb-2"
        >
          Transport
        </div>
        <div class="exp-shadow mb-6">
          <esn-expandable class="exp" *ngFor="let faq of faqsTransport">
            <p slot="header" class="font-body text-md">{{ faq.question }}</p>
            <div class="answer-div">
              <div class="answer-col">
                <markdown [data]="faq.answer"></markdown>
              </div>
            </div>
          </esn-expandable>
        </div>
      </ng-container>
      <ng-container *ngIf="faqsESNcard">
        <div
          *ngIf="faqsESNcard.length > 0"
          class="font-body text-xl font-bold pb-2"
        >
          ESNcard
        </div>
        <div class="exp-shadow mb-6">
          <esn-expandable class="exp" *ngFor="let faq of faqsESNcard">
            <p slot="header" class="font-body text-md">{{ faq.question }}</p>
            <div class="answer-div">
              <div class="answer-col">
                <markdown [data]="faq.answer"></markdown>
              </div>
            </div>
          </esn-expandable>
        </div>
      </ng-container>
      <ng-container *ngIf="faqsCorona">
        <div
          *ngIf="faqsCorona.length > 0"
          class="font-body text-xl font-bold pb-2"
        >
          Corona
        </div>
        <div class="exp-shadow mb-6">
          <esn-expandable class="exp" *ngFor="let faq of faqsCorona">
            <p slot="header" class="font-body text-md">{{ faq.question }}</p>
            <div class="answer-div">
              <div class="answer-col">
                <markdown [data]="faq.answer"></markdown>
              </div>
            </div>
          </esn-expandable>
        </div>
      </ng-container>
      <ng-container *ngIf="faqsUniErasmus">
        <div
          *ngIf="faqsUniErasmus.length > 0"
          class="font-body text-xl font-bold pb-2"
        >
          Uni/Erasmus
        </div>
        <div class="exp-shadow mb-6">
          <esn-expandable class="exp" *ngFor="let faq of faqsUniErasmus">
            <p slot="header" class="font-body text-md">{{ faq.question }}</p>
            <div class="answer-div">
              <div class="answer-col">
                <markdown [data]="faq.answer"></markdown>
              </div>
            </div>
          </esn-expandable>
        </div>
      </ng-container>
      <ng-container *ngIf="faqsOther">
        <div
          *ngIf="faqsOther.length > 0"
          class="font-body text-xl font-bold pb-2"
        >
          Other
        </div>
        <div class="exp-shadow mb-6">
          <esn-expandable class="exp" *ngFor="let faq of faqsOther">
            <p slot="header" class="font-body text-md">{{ faq.question }}</p>
            <div class="answer-div">
              <div class="answer-col">
                <markdown [data]="faq.answer"></markdown>
              </div>
            </div>
          </esn-expandable>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
