.title-div {
  @apply m-auto mb-8 relative;
}

.title-p {
  @apply font-heading text-esn-dark-blue font-bold text-4xl title;
}

.title::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -12px;
  width: 73px;
  height: 5px;
  background: #2e3192;
}

.cont {
  // min-width: 400px;
  background-color: white;
}

.cont:hover {
  background-color: #fafafa;
}

.exp:hover {
  background: rgba(0, 0, 0, 0.04);
}

.exp-shadow {
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.answer {
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 32px;
}

.answer-col {
  border-left: 6px solid #eaeaea;
  padding-left: 14px;
}

.answer-div {
  @apply pl-4 pr-6 pt-2 pb-4 cont answer;
}

.outer-div {
  @apply max-w-screen-xl m-auto p-8 sm:p-0 sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4;
}
