<esn-content-item [page]="page"></esn-content-item>
<ng-container
  *ngIf="
    faqHousingItemList?.length > 0 ||
    faqTransportItemList?.length > 0 ||
    faqCoronaItemList?.length > 0 ||
    faqUniErasmusItemList?.length > 0 ||
    faqOtherItemList?.length > 0 ||
    faqEsncardItemList?.length > 0
  "
>
  <div class="outer-div-incoming">
    <div class="px-4 mb-24">
      <div class="title-div">
        <p class="title-p">Frequently Asked Questions</p>
      </div>
      <ng-container *ngIf="faqHousingItemList; else loading">
        <div
          *ngIf="faqHousingItemList.length > 0"
          class="font-body text-xl font-bold pb-2"
        >
          Housing
        </div>
        <div class="exp-shadow mb-6">
          <esn-expandable class="exp" *ngFor="let faq of faqHousingItemList">
            <p slot="header" class="font-body text-md">{{ faq.question }}</p>
            <div class="answer-div">
              <div class="answer-col">
                <markdown [data]="faq.answer"></markdown>
              </div>
            </div>
          </esn-expandable>
        </div>
      </ng-container>
      <ng-template #loading>
        <img
          width="200px"
          class="m-auto"
          src="assets/social/ESN-star-spinner.gif"
          alt="loading"
      /></ng-template>
      <ng-container *ngIf="faqTransportItemList">
        <div
          *ngIf="faqTransportItemList.length > 0"
          class="font-body text-xl font-bold pb-2"
        >
          Transport
        </div>
        <div class="exp-shadow mb-6">
          <esn-expandable class="exp" *ngFor="let faq of faqTransportItemList">
            <p slot="header" class="font-body text-md">{{ faq.question }}</p>
            <div class="answer-div">
              <div class="answer-col">
                <markdown [data]="faq.answer"></markdown>
              </div>
            </div>
          </esn-expandable>
        </div>
      </ng-container>
      <ng-container *ngIf="faqEsncardItemList">
        <div
          *ngIf="faqEsncardItemList.length > 0"
          class="font-body text-xl font-bold pb-2"
        >
          ESNcard
        </div>
        <div class="exp-shadow mb-6">
          <esn-expandable class="exp" *ngFor="let faq of faqEsncardItemList">
            <p slot="header" class="font-body text-md">{{ faq.question }}</p>
            <div class="answer-div">
              <div class="answer-col">
                <markdown [data]="faq.answer"></markdown>
              </div>
            </div>
          </esn-expandable>
        </div>
      </ng-container>
      <ng-container *ngIf="faqCoronaItemList">
        <div
          *ngIf="faqCoronaItemList.length > 0"
          class="font-body text-xl font-bold pb-2"
        >
          Corona
        </div>
        <div class="exp-shadow mb-6">
          <esn-expandable class="exp" *ngFor="let faq of faqCoronaItemList">
            <p slot="header" class="font-body text-md">{{ faq.question }}</p>
            <div class="answer-div">
              <div class="answer-col">
                <markdown [data]="faq.answer"></markdown>
              </div>
            </div>
          </esn-expandable>
        </div>
      </ng-container>
      <ng-container *ngIf="faqUniErasmusItemList">
        <div
          *ngIf="faqUniErasmusItemList.length > 0"
          class="font-body text-xl font-bold pb-2"
        >
          Uni/Erasmus
        </div>
        <div class="exp-shadow mb-6">
          <esn-expandable class="exp" *ngFor="let faq of faqUniErasmusItemList">
            <p slot="header" class="font-body text-md">{{ faq.question }}</p>
            <div class="answer-div">
              <div class="answer-col">
                <markdown [data]="faq.answer"></markdown>
              </div>
            </div>
          </esn-expandable>
        </div>
      </ng-container>
      <ng-container *ngIf="faqOtherItemList">
        <div
          *ngIf="faqOtherItemList.length > 0"
          class="font-body text-xl font-bold pb-2"
        >
          Other
        </div>
        <div class="exp-shadow mb-6">
          <esn-expandable class="exp" *ngFor="let faq of faqOtherItemList">
            <p slot="header" class="font-body text-md">{{ faq.question }}</p>
            <div class="answer-div">
              <div class="answer-col">
                <markdown [data]="faq.answer"></markdown>
              </div>
            </div>
          </esn-expandable>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
