<app-navigation></app-navigation>
<div
  class="max-w-screen-xl p-8 sm:p-0 m-auto sm:px-16 xl:mt-16 lg:mt-8 sm:mt-4"
>
  <div class="px-8 mb-24">
    <div class="m-auto mb-8 relative">
      <p class="font-heading text-esn-dark-blue font-bold text-4xl title">
        Frequently Asked Questions
      </p>
    </div>
    <div class="font-body text-xl font-bold pb-2">Housing</div>
    <div class="exp-shadow mb-6">
      <app-expandable class="exp" *ngFor="let faq of faqHousingItemList">
        <p slot="header" class="font-body text-md">{{ faq.Question }}</p>
        <div class="pl-4 pr-6 pt-2 pb-4 text-md cont answer">
          <div class="answer-col">
            <markdown [data]="faq.Answer"></markdown>
          </div>
        </div>
      </app-expandable>
    </div>
    <div class="font-body text-xl font-bold pb-2">Transport</div>
    <div class="exp-shadow mb-6">
      <app-expandable class="exp" *ngFor="let faq of faqTransportItemList">
        <p slot="header" class="font-body text-md">{{ faq.Question }}</p>
        <div class="pl-4 pr-6 pt-2 pb-4 text-md cont answer">
          <div class="answer-col">
            <markdown [data]="faq.Answer"></markdown>
          </div>
        </div>
      </app-expandable>
    </div>
    <div class="font-body text-xl font-bold pb-2">ESNcard</div>
    <div class="exp-shadow mb-6">
      <app-expandable class="exp" *ngFor="let faq of faqEsncardItemList">
        <p slot="header" class="font-body text-md">{{ faq.Question }}</p>
        <div class="pl-4 pr-6 pt-2 pb-4 text-md cont answer">
          <div class="answer-col">
            <markdown [data]="faq.Answer"></markdown>
          </div>
        </div>
      </app-expandable>
    </div>
    <div class="font-body text-xl font-bold pb-2">Corona</div>
    <div class="exp-shadow mb-6">
      <app-expandable class="exp" *ngFor="let faq of faqCoronaItemList">
        <p slot="header" class="font-body text-md">{{ faq.Question }}</p>
        <div class="pl-4 pr-6 pt-2 pb-4 text-md cont answer">
          <div class="answer-col">
            <markdown [data]="faq.Answer"></markdown>
          </div>
        </div>
      </app-expandable>
    </div>
    <div class="font-body text-xl font-bold pb-2">Uni/Erasmus</div>
    <div class="exp-shadow mb-6">
      <app-expandable class="exp" *ngFor="let faq of faqUniErasmusItemList">
        <p slot="header" class="font-body text-md">{{ faq.Question }}</p>
        <div class="pl-4 pr-6 pt-2 pb-4 text-md cont answer">
          <div class="answer-col">
            <markdown [data]="faq.Answer"></markdown>
          </div>
        </div>
      </app-expandable>
    </div>
    <div class="font-body text-xl font-bold pb-2">Other</div>
    <div class="exp-shadow mb-6">
      <app-expandable class="exp" *ngFor="let faq of faqOtherItemList">
        <p slot="header" class="font-body text-md">{{ faq.Question }}</p>
        <div class="pl-4 pr-6 pt-2 pb-4 text-md cont answer">
          <div class="answer-col">
            <markdown [data]="faq.Answer"></markdown>
          </div>
        </div>
      </app-expandable>
    </div>
  </div>
</div>
<app-footer></app-footer>
