@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
  font-family: "Comic Sans";
  src: url("./assets/fonts/Comic\ Sans\ MS\ 400.ttf");
}

markdown {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-family: Lato, sans-serif;

  p {
    font-size: 1rem;
  }

  h1 {
    margin-bottom: 1rem;
    line-height: 1;
    color: black;
    font-size: 2.5rem;
    font-family: Oswald, sans-serif;
    text-align: center;
    font-weight: 700;
  }

  h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: black;
    line-height: 1;
    font-size: 1.5rem;
  }

  h3 {
    margin-top: 2.5rem;
    margin-bottom: 0.75rem;
    line-height: 1;
    font-size: 1.25rem;
    font-weight: 700;
  }

  h4 {
    margin-top: 2.5rem;
    margin-bottom: 0.75rem;
    line-height: 1;
    font-size: 1.25rem;
  }

  h5 {
    font-style: italic;
    color: #3a3a3a;
    font-size: 1.5rem;
    text-align: center;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  ol li {
    margin-left: 32px;
  }

  ul li {
    margin-left: 32px;
  }

  ul li ul {
    list-style-type: circle;
  }

  a {
    color: #2e3192;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      text-decoration: underline double;
    }
  }

  img {
    width: 100%;
    max-width: 600px;
  }
}
