@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
  font-family: "Comic Sans";
  src: url("./assets/fonts/Comic\ Sans\ MS\ 400.ttf");
}

:root {
  --esn-green: "#7ac143";
  --esn-green-rgba: rgba(122, 193, 67, 0.8);
  --esn-dark-green: "#558f29";
  --esn-dark-green-rgba: rgba(85, 143, 41, 0.8);
  --esn-blue: "#00aeef";
  --esn-blue-rgba: rgba(46, 49, 146, 0.8);
  --esn-pink: "#ec008c";
  --esn-pink-rgba: rgba(236, 0, 140, 0.8);
  --esn-lightpink: "#ffaabb";
  --esn-lightpink-rgba: rgba(255, 170, 187, 0.8);
  --esn-orange: "#f47b20";
  --esn-orange-rgba: rgba(244, 123, 32, 0.8);
  --esn-dark-blue: "#2e3192";
  --esn-dark-blue-rgba: rgba(46, 49, 146, 0.8);
  --black: "#000";
  --gray: "#d3d3d3";
  --graylight: "#eaeaea";
  --graymap: "#5a5a5a";
  --bluelight: "#afb2ff";
  --white: "#fff";
  --whitebg: "#efefef";
  --footer: "#3a3a3a";
  --transparent: "#ffffffff";
  --right-buttoncolor-rgba: REPLACE_RGBA;
}

markdown {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-family: Lato, sans-serif;

  p {
    font-size: 1rem;
  }

  h1 {
    margin-bottom: 1rem;
    line-height: 1;
    color: black;
    font-size: 2.5rem;
    font-family: Oswald, sans-serif;
    text-align: center;
    font-weight: 700;
  }

  h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: black;
    line-height: 1;
    font-size: 1.5rem;
  }

  h3 {
    margin-top: 2.5rem;
    margin-bottom: 0.75rem;
    line-height: 1;
    font-size: 1.25rem;
    font-weight: 700;
  }

  h4 {
    margin-top: 2.5rem;
    margin-bottom: 0.75rem;
    line-height: 1;
    font-size: 1.25rem;
  }

  h5 {
    font-style: italic;
    color: #3a3a3a;
    font-size: 1.5rem;
    text-align: center;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  ol li {
    margin-left: 32px;
  }

  ul li {
    margin-left: 32px;
    font-size: 1rem;
  }

  ul li ul {
    list-style-type: circle;
  }

  a {
    color: #2e3192;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      text-decoration: underline double;
    }
  }

  img {
    width: 100%;
    max-width: 600px;
  }
}
