<div *ngIf="!pretixLink">
  <full-calendar id="calendar" [options]="calendarOptions" *ngIf="isBrowser$ | async"></full-calendar>
  <div *ngIf="event$| async as event" class="
      bg-graylight
      text-black
      px-8
      py-4
      mt-4
      border border-graylight
      rounded
    ">
    <h2 class="font-bold text-xl">{{ event.title }}</h2>
    <p class="textgray">{{ event.start | date: 'medium' }}</p>
    <p>{{ event.extendedProps.cause }}</p>
    <markdown [data]="event.extendedProps.details"></markdown>
    <a
      class="pt-4 text-esn-dark-blue hover:underline"
      target="_blank"
      rel="noopener"
      [href]="event.url"
    >{{event.url}}</a>
  </div>
</div>
