<!-- White triangular shapes that form the top triangle -->
<div class="divider-bottom">
  <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path
      d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z"
      class="shape-fill"
    ></path>
  </svg>
</div>
<!-- Mobile Menu that opens on click. Burger only visible when on mobile -->
<div class="w-full">
  <ul
    class="
      z-10
      font-body
      text-white text-xl
      bg-gradient
      float-right
      w-3/5
      hidden
      absolute
      right-0
    "
    id="menu"
  >
    <a routerLink="/"><li class="mobile-li">Home</li></a>
    <a routerLink="/esncard"><li class="mobile-li">ESNcard & Partners</li></a>
    <a routerLink="/events"><li class="mobile-li">Events</li></a>
    <a routerLink="/for-incomings"><li class="mobile-li">For Incomings</li></a>
    <a routerLink="/for-members"><li class="mobile-li">For Members</li></a>
    <a routerLink="/team"><li class="mobile-li">Our Team</li></a>
    <a routerLink="/imprint"
      ><li class="p-4 pl-8 border-white hover-zoom">Imprint</li></a
    >
  </ul>
</div>
<!-- Logo and white top navigation -->
<div class="w-full mb-16 bg" [ngStyle]="bgImage$ | async">
  <nav
    id="navinav"
    class="
      flex flex-nowrap
      items-center
      max-w-screen-2lg
      justify-between
      m-auto
      sm:px-16
      pt-8
      font-body
    "
  >
    <div class="flex items-center flex-shrink-0 text-2xl pr-8">
      <a routerLink="/" routerLinkActive="addhoverActive"
        ><img
          class="h-26 ml-8"
          alt="ESN logo"
          src="../../../assets/logo/DE-logo-colour.png"
      /></a>
    </div>
    <div
      class="
        px-8
        w-full
        block
        flex-grow
        lg:flex lg:items-center lg:w-auto
        hidden
        lg:visible
      "
    >
      <div class="text-2xl flex justify-between lg:flex-grow max-w-screen-xl">
        <div class="relative">
          <a routerLink="/esncard" routerLinkActive="addhoverActive">
            <button class="mobile-but">ESNcard & Partners</button></a
          >
        </div>
        <div class="relative">
          <a routerLink="/events" routerLinkActive="addhoverActive">
            <button class="mobile-but">Events</button></a
          >
        </div>
        <div class="relative">
          <a routerLink="/for-incomings" routerLinkActive="addhoverActive">
            <button class="mobile-but">For Incomings</button></a
          >
        </div>
        <div class="relative">
          <a routerLink="/for-members" routerLinkActive="addhoverActive"
            ><button class="mobile-but">For Members</button></a
          >
        </div>
        <div class="relative">
          <a routerLink="/team" routerLinkActive="addhoverActive">
            <button class="mobile-but">Our Team</button></a
          >
        </div>
      </div>
    </div>
    <div class="block pr-8 sm:pr-16 lg:hidden" id="burger">
      <button
        class="
          flex
          items-center
          px-3
          py-2
          border
          rounded
          text-white
          border-white
        "
        (click)="showMenu()"
      >
        <svg class="fill-current h-4 w-4" viewBox="0 0 20 20">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
  </nav>
</div>
<!-- Social Media buttons with hover-effect on the right side (bottom if mobile) -->
<div class="max-w-screen-2xl m-auto" *ngIf="globals$ | async as globals">
  <div class="fixed top-56 right-0 xl:mr-12 lg:mr-1 invisible lg:visible">
    <div *ngIf="globals?.instagramLink" class="mar">
      <!-- <div id="bubble1" class="bubble you invisible font-body">
        {{ globals?.instagramName }}
      </div> -->
      <a href="{{ globals?.instagramLink }}" target="_blank" rel="noopener">
        <button
          class="p-2 rounded-full block my-2 hov"
          [ngStyle]="buttonColor$ | async"
        >
          <img class="m-2 h-6" src="../../../assets/social/instagram.png" />
        </button>
      </a>
    </div>
    <div *ngIf="globals?.facebookLink">
      <!-- <div id="bubble2" class="bubble you invisible font-body">
        fb.com/{{ globals?.facebookName }}
      </div> -->
      <a href="{{ globals?.facebookLink }}" target="_blank" rel="noopener">
        <button
          class="p-2 rounded-full block my-2 hov"
          [ngStyle]="buttonColor$ | async"
        >
          <img class="m-2 h-6" src="../../../assets/social/facebook.png" />
        </button>
      </a>
    </div>
  </div>
  <div class="m-auto" *ngIf="globals?.instagramLink">
    <div
      *ngIf="globals?.facebookLink"
      class="fixed bottom-0 right-0 visible lg:invisible z-10 mr-8 mb-8"
    >
      <a
        href="{{ globals?.facebookLink }}"
        target="_blank"
        rel="noopener"
        title="Facebook"
        ><button class="p-2 rounded-full hov ml-2" [ngStyle]="buttonColor$ | async">
          <img
            class="m-2 h-6"
            src="../../../assets/social/facebook.png"
          /></button
      ></a>
      <a
        href="{{ globals?.instagramLink }}"
        target="_blank"
        rel="noopener"
        title="Instagram"
        ><button class="p-2 rounded-full hov" [ngStyle]="buttonColor$ | async">
          <img
            class="m-2 h-6"
            src="../../../assets/social/instagram.png"
          /></button
      ></a>
    </div>
  </div>
</div>
