.bg {
  background-position: center;
  background-size: cover;
  padding-bottom: 101px;
}

.divider-bottom {
  position: absolute;
  top: 136px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 105px;
}

.divider-bottom .shape-fill {
  fill: #fff;
}

.addhover:hover::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -4px;
  width: 48px;
  height: 3px;
  background: #fff;
}

.addhoverActive::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -4px;
  width: 48px;
  height: 3px;
  background: #fff;
  clear: both;
}

.colorActiveLink {
  color: #00aeef;
}

.hov {
  transition: transform 0.2s;
  float: right;

  &:hover {
    transform: scale(1.14);
  }
}

.bubble {
  background-color: #3a3a3a;
  border-radius: 5px;
  padding: 10px 18px;
  position: relative;
  color: white;
  float: left;
  margin-top: 13px;
  margin-right: 24px;

  &::before {
    background-color: #3a3a3a;
    content: "\00a0";
    height: 16px;
    position: absolute;
    top: 14px;
    transform: rotate(29deg) skew(-35deg);
    -moz-transform: rotate(29deg) skew(-35deg);
    -ms-transform: rotate(29deg) skew(-35deg);
    -o-transform: rotate(29deg) skew(-35deg);
    -webkit-transform: rotate(29deg) skew(-35deg);
    width: 20px;
    right: -9px;
  }
}

.hover-zoom:hover {
  background-color: #535353;
}

.bg-gradient {
  background: linear-gradient(
    36deg,
    rgba(58, 58, 58, 1) 30%,
    rgba(27, 27, 27, 1) 100%
  );
}

.mobile-li {
  @apply p-4 pl-8 border-b border-white clear-both /*hover-zoom*/;
}

.mobile-but {
  @apply block mt-4 inline-block font-bold text-white focus:outline-none /*addhover*/;
}
