<div class="divider-bottom">
  <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path
      d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z"
      class="shape-fill"
    ></path>
  </svg>
</div>
<!-- <div class="w-full bg-esn-green h-56 fixed m-auto">
  <div
    class="flex items-center m-auto justify-between max-w-screen-xl font-bold font-body text-white text-xl"
  >
    <a routerLink="/" routerLinkActive="addhoverActive" class="px-8 py-4"
      >Home</a
    >
    <a
      routerLink="/esncard"
      routerLinkActive="addhoverActive"
      class="px-8 py-4"
    >
      ESNcard & Partners
    </a>
    <a routerLink="/events" routerLinkActive="addhoverActive" class="px-8 py-4">
      Events
    </a>
    <a
      routerLink="/for-incomings"
      routerLinkActive="addhoverActive"
      class="px-8 py-4"
    >
      For Incomings
    </a>
    <a
      routerLink="/for-members"
      routerLinkActive="addhoverActive"
      class="px-8 py-4"
    >
      For Members
    </a>
    <a routerLink="/team" routerLinkActive="addhoverActive" class="px-8 py-4">
      Our Team
    </a>
  </div>
</div> -->
<div class="w-full">
  <ul
    class="z-10 font-body text-white text-xl bg-footer float-right w-3/5 hidden absolute right-0"
    id="menu"
  >
    <a routerLink="/" routerLinkActive="addhoverActive">
      <li class="p-4 pl-8 border-b border-white">Home</li>
    </a>
    <a routerLink="/esncard" routerLinkActive="addhoverActive">
      <li class="p-4 pl-8 border-b border-white">ESNcard & Partners</li>
    </a>
    <a routerLink="/events" routerLinkActive="addhoverActive">
      <li class="p-4 pl-8 border-b border-white">Events</li>
    </a>
    <a routerLink="/for-incomings" routerLinkActive="addhoverActive">
      <li class="p-4 pl-8 border-b border-white">For Incomings</li>
    </a>
    <a routerLink="/for-members" routerLinkActive="addhoverActive">
      <li class="p-4 pl-8 border-b border-white">For Members</li>
    </a>
    <a routerLink="/team" routerLinkActive="addhoverActive">
      <li class="p-4 pl-8 border-b border-white">Our Team</li>
    </a>
    <a routerLink="/imprint" routerLinkActive="addhoverActive">
      <li class="p-4 pl-8 border-b border-white">Imprint</li>
    </a>
  </ul>
</div>
<div class="w-full mb-16 bg">
  <!-- <div class="fixed w-full"> -->
  <nav
    id="navinav"
    class="flex flex-wrap items-center max-w-screen-2lg justify-between m-auto sm:px-16 pt-8 font-body"
  >
    <div class="flex items-center flex-shrink-0 text-2xl pr-8">
      <a routerLink="/" routerLinkActive="addhoverActive"
        ><img
          class="h-26 ml-8"
          alt="ESN logo"
          src="../assets/logo/DE-freiburg-logo-colour.png"
      /></a>
    </div>
    <div
      class="px-8 w-full block flex-grow lg:flex lg:items-center lg:w-auto hidden lg:visible"
    >
      <div class="text-2xl flex justify-between lg:flex-grow max-w-screen-xl">
        <div class="relative">
          <a routerLink="/esncard" routerLinkActive="addhoverActive">
            <button
              type="button"
              class="block mt-4 inline-block font-bold text-white focus:outline-none addhover"
            >
              ESNcard & Partners
            </button></a
          >
        </div>
        <div class="relative">
          <a routerLink="/events" routerLinkActive="addhoverActive">
            <button
              type="button"
              class="block mt-4 inline-block font-bold text-white focus:outline-none addhover"
            >
              Events
            </button></a
          >
        </div>
        <div class="relative">
          <a routerLink="/for-incomings" routerLinkActive="addhoverActive">
            <button
              type="button"
              class="block mt-4 inline-block font-bold text-white focus:outline-none addhover"
            >
              For Incomings
            </button></a
          >
        </div>
        <div class="relative">
          <a routerLink="/for-members" routerLinkActive="addhoverActive"
            ><button
              type="button"
              class="block mt-4 inline-block font-bold text-white focus:outline-none addhover"
            >
              For Members
            </button></a
          >
        </div>
        <div class="relative">
          <a routerLink="/team" routerLinkActive="addhoverActive">
            <button
              type="button"
              class="block mt-4 inline-block font-bold text-white focus:outline-none addhover"
            >
              Our Team
            </button></a
          >
        </div>
      </div>
    </div>
    <div class="block pr-8 sm:pr-16 lg:hidden" id="burger">
      <button
        class="flex items-center px-3 py-2 border rounded text-white border-white"
        (click)="showMenu()"
      >
        <svg class="fill-current h-4 w-4" viewBox="0 0 20 20">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>
  </nav>
  <!-- </div> -->
</div>
<div class="max-w-screen-2xl m-auto">
  <div class="fixed top-56 right-0 xl:mr-12 lg:mr-1 invisible lg:visible">
    <div class="mar">
      <div id="bubble1" class="bubble you invisible font-body">
        @esn_freiburg
      </div>
      <a
        href="https://www.instagram.com/esngermany/"
        target="_blank"
        rel="noopener"
        ><button
          class="bg-esn-green p-2 rounded-full block my-2 hov"
          (mouseenter)="showBubble(1)"
          (mouseleave)="hideBubble(1)"
        >
          <img
            class="m-2 h-6"
            src="../../../assets/social/instagram.png"
          /></button
      ></a>
    </div>
    <div>
      <div id="bubble2" class="bubble you invisible font-body">
        fb.com/esnfreiburg
      </div>
      <a
        href="https://facebook.com/esnfreiburg/"
        target="_blank"
        rel="noopener"
      >
        <button
          class="bg-esn-green p-2 rounded-full hov"
          (mouseenter)="showBubble(2)"
          (mouseleave)="hideBubble(2)"
        >
          <img class="m-2 h-6" src="../../../assets/social/facebook.png" />
        </button>
      </a>
    </div>
  </div>
  <div class="m-auto">
    <div class="fixed bottom-0 right-0 visible lg:invisible z-10 mr-8 mb-8">
      <a
        href="https://facebook.com/esnfreiburg/"
        target="_blank"
        rel="noopener"
        title="Facebook"
        ><button class="bg-esn-green p-2 rounded-full hov">
          <img
            class="m-2 h-6"
            src="../../../assets/social/facebook.png"
          /></button
      ></a>
      <a
        href="https://www.instagram.com/esn_freiburg/"
        target="_blank"
        rel="noopener"
        title="Instagram"
        ><button class="bg-esn-green p-2 rounded-full mx-2 hov">
          <img
            class="m-2 h-6"
            src="../../../assets/social/instagram.png"
          /></button
      ></a>
    </div>
  </div>
</div>
