<div
  class="pretix-widget-compat"
  event="https://tickets.esn-germany.de/esnfreiburg/"
  style="calendar"
></div>
<!-- REPLACE_TO_SECTION_PRETIX-->
<noscript>
  <div class="pretix-widget">
    <div class="pretix-widget-info-message">
      JavaScript is disabled in your browser. To access our ticket shop without
      JavaScript, please
      <a target="_blank" href="https://tickets.esn-germany.de/esnfreiburg/">
        <!-- REPLACE_TO_SECTION_PRETIX-->
        click here</a
      >.
    </div>
  </div>
</noscript>
